
body { 
    background-image: url("../images/golden-blue2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;   
}

#image-card {
      border: 2px solid black;
      margin-bottom: 20px;
}


/* Cited: https://www.w3schools.com/css/css_image_transparency.asp. To have a transparency overlay on the header image*/
div.card-img-overlay {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    
}


div.card-img-overlay h1, div.card-img-overlay h3 {
    font-weight: bolder;
    color: #000000;
    margin-top: 20px;
}

h1 {
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
}

.card {
    box-shadow: 0px 0px 10px 4px;
} 

.card-header{
color:  rgb(15, 15, 87);
font-weight: bold;
}


#train-table th,
td {
    display: inline-block;
    width: 16.575%;
}

#train-table{
    margin-left: 20px;
}

#add-train-btn {
    border: 2px solid rgb(15, 15, 87);
    background-color: rgb(15, 15, 87);
    font-weight: bolder;

}


#add-train-btn:hover{
background-color:rgb(41, 41, 168);
}

